fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
pydantic
pydantic_settings>=2.0.0
asyncpg
pyjwt
aiosqlite
pydantic[email]
python-multipart
bcrypt<4.0
asyncpg
alembic
# pip install -r requirements.txt"pydantic_settings>=2.0.0" 
